name: Swift

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
      name: Build
      run: xcodebuild -workspace "CIPlayground.xcworkspace" -scheme "CIPlayground" -destination="platform=iOS Simulator,OS=14.4, name=iPhone 12" clean build | xcpretty

    - uses: codecov/codecov-action@v1.2.1
      token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
      files: ./coverage1.xml,./coverage2.xml # optional
      flags: unittests # optional
      name: codecov-umbrella # optional
      fail_ci_if_error: true # optional (default = false)
      verbose: true # optional (default = false)
